*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
 */

@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

html {
  font-family: "Freeman", sans-serif;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
}

button {
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  border: none;
  opacity: 0.7;
}

/* App */
.app {
  max-width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app_title {
  font-size: 4rem;
  text-shadow: 8px 8px 2px gray;
  margin-top: 20px;
  width: 30vw;
  align-items: center;
  text-align: center;
}

.app_btn:hover {
  transform: scale(1.1);
  opacity: 1;
}

.app_btn {
  background-color: rgba(18, 89, 188, 0.2);
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  border: thick solid white;
  color: hwb(0 50% 50%);
  transform: transition 0.5s;
  margin-bottom: 30px;
}

.app_container {
  text-align: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.count-text {
  margin: -7rem;
  /* margin-left: -0.5rem; */
  margin-left: 3.5rem;
  margin-right: 2rem;
  margin-top: 3rem;
  max-width: 30vw;
  max-height: auto;
  text-align: center;
  position: relative;
  font-size: 20px;
  color: gray;
}
.container-text {
  background-image: url(../fortuna-2/rectangle1.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40vw;
  height: 50vh;
  margin-right: 3rem;

  /* position: relative; */
}

@media screen and (max-width: 932px) {
  .container-text {
    width: 60vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .count-text {
    font-size: 18px;
    padding-right: -1rem;
    width: 100vw;
    margin-left: 3rem;
  }
}

@media screen and (max-width: 686px) and (max-height: 667px) {
  .container-text {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .count-text {
    margin-top: 2rem;
    font-size: 18px;
  }
}
